<div class="d-flex flex-column mt-5 align-items-center">
  <h2>Sign up</h2>

  <div class="mx-5 border p-3 w-75 rounded shadow d-flex flex-column">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm", placeholder: "Email" %>
      </div>
    
      <div class="field form-group">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm", placeholder: "Password" %>
      </div>
    
      <div class="field form-group">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-sm", placeholder: "Paswword Confirmation" %>
      </div>
    
      <div class="actions d-flex justify-content-center">
        <%= f.submit "Sign Up", class: "btn btn-dark btn-md w-50 mb-3" %>
      </div>
    <% end %>
  
    <div class="d-flex justify-content-center">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
