<% if notice %>
  <%= render "layouts/alert" %>
<% end %>
<div class="mx-4 mt-4">
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Twitter Handle</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter_handle %></td>
          <% if user_signed_in? %>
            <td>
              <%= link_to "Show", friend_path(friend) %>
            </td>
            <td>
              <%= link_to "Edit", edit_friend_path(friend) %>
            </td>
            <td>
              <%= link_to "Delete", friend_path(friend), data: { "turbo-method": :delete }, class:"text-danger" %>
            </td>
          <% end %>
        </tr>
      <% end %>  
    </tbody>
  </table>
  <% if user_signed_in? %>
    <%= link_to "Add New Friend", new_friend_path, class: "btn btn-dark btn-md" %>
  <% end %>
</div>